<h2>Movie Detail</h2>
<ul>
<li> Title: {{data.title}}</li>
<li> Genre: {{data.genre}}</li>
<li> Plot: {{data.plot}}</li>
<li> Cast: <ul>
{{#each data.cast}}
       <li> Name : {{ this.name}}</li> 
       <li>Occupation:  {{this.occupation}}</li>
       <li>Catchphrase: {{this.catchPhrase}}</li>
{{/each}}
</ul>
</li>
</ul>
<div class="myBtn">
<form action="/movies/{{data.id}}/delete" method="POST">
<button type="submit" class="btn btn-outline-primary">Delete</button>
</form>
<form action="/movies/{{data.id}}/edit" method="GET">
<button type="submit" class="btn btn-outline-primary">Edit</button>
</form>
</div>